<div class="footer">
  <div class="footer__logo">
    <img src="/img/logo-green.png" alt="Natours logo" />
  </div>
  <ul class="footer__nav">
    <li><a href="#">About us</a></li>
    <li><a href="#">Download apps</a></li>
    <li><a href="#">Become a guide</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <p class="footer__copyright">
    &copy; by Aditya Mishra. All rights reserved.
  </p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha512-3BBFWr73Xrf8GRjO+0pl0cbVwESBvg3ovnuCXpoqOkC/mkt/hTkFtutUPrwRz8eLySYvy5v1daulkyUZYvH8jw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/alerts.js"></script>
<script src="/js/login.js"></script>
<script src="/js/logout.js"></script>