//This is the base pug file that we will use to show the landing page of out web-app
doctype html
html
    head
        title My Webpage
        link(rel='stylesheet' href='css/style.css')
    body
        header
            h1 Welcome to my webpage 
        main
            p This is a simple paragraph.