//This is the base pug file that we will use to show the landing page of out web-app
doctype html
html
    head
        title My Webpage
    body
        header
            h1 Welcome to my webpage 
        main
            p This is a simple paragraph.
            ul
                li Item 1
                li Item 2
                li Item 3
